In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.metrics import confusion_matrix

# Load dataset
dataset = pd.read_csv('/home/omkar/LP3/ML/3. Neural Network/Churn_Modelling.csv', index_col='RowNumber')

# Select columns
X = dataset.iloc[:,2:12]
Y = dataset.iloc[:,-1:]

In [8]:
X = pd.get_dummies(X,columns=['Gender','Geography'])

X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
RowNumber,,,,,,,,,,,,,
1,619,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
2,608,41,1,83807.86,1,0,1,112542.58,1,0,0,0,1
3,502,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
4,699,39,1,0.00,2,0,0,93826.63,1,0,1,0,0
5,850,43,2,125510.82,1,1,1,79084.10,1,0,0,0,1

In [10]:
# Standardize the features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

# Initialize ANN
classifier = Sequential()

# Add input layer and hidden layers
classifier.add(Dense(6, activation='relu', input_shape=(X_train.shape[1],)))
classifier.add(Dropout(rate=0.1))

# Add second hidden layer
classifier.add(Dense(6, activation='relu'))
classifier.add(Dropout(rate=0.1))

# Add output layer
classifier.add(Dense(1, activation='sigmoid'))

# Compile the model
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Display the summary of the model
classifier.summary()

# Fit the Neural Network
history = classifier.fit(X_train, y_train, batch_size=32, epochs=20, validation_split=0.1, verbose=2)

# Predictions
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5).astype(int)

# Confusion matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

# Accuracy of the NN
accuracy = ((cm[0][0] + cm[1][1]) * 100) / len(y_test)
print(f'{accuracy:.2f}% of data was classified correctly')

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 84

 dropout (Dropout)           (None, 6)                 0

 dense_1 (Dense)             (None, 6)                 42

 dropout_1 (Dropout)         (None, 6)                 0

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

2023-11-16 00:15:19.064373: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-16 00:15:19.065713: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.

Epoch 1/20
225/225 - 2s - loss: 0.5263 - accuracy: 0.7851 - val_loss: 0.4732 - val_accuracy: 0.7950 - 2s/epoch - 9ms/step
Epoch 2/20
225/225 - 1s - loss: 0.4832 - accuracy: 0.7953 - val_loss: 0.4552 - val_accuracy: 0.7950 - 757ms/epoch - 3ms/step
Epoch 3/20
225/225 - 1s - loss: 0.4666 - accuracy: 0.7960 - val_loss: 0.4454 - val_accuracy: 0.7950 - 777ms/epoch - 3ms/step
Epoch 4/20
225/225 - 1s - loss: 0.4573 - accuracy: 0.7958 - val_loss: 0.4384 - val_accuracy: 0.7950 - 744ms/epoch - 3ms/step
Epoch 5/20
225/225 - 0s - loss: 0.4550 - accuracy: 0.7961 - val_loss: 0.4339 - val_accuracy: 0.7950 - 496ms/epoch - 2ms/step
Epoch 6/20
225/225 - 1s - loss: 0.4472 - accuracy: 0.7958 - val_loss: 0.4286 - val_accuracy: 0.7950 - 578ms/epoch - 3ms/step
Epoch 7/20
225/225 - 1s - loss: 0.4474 - accuracy: 0.7958 - val_loss: 0.4251 - val_accuracy: 0.7950 - 627ms/epoch - 3ms/step
Epoch 8/20
225/225 - 1s - loss: 0.4431 - accuracy: 0.7961 - val_loss: 0.4205 - val_accuracy: 0.7962 - 807ms/epoch - 4ms/step
Epoch 9/20
225/225 - 1s - loss: 0.4418 - accuracy: 0.7975 - val_loss: 0.4161 - val_accuracy: 0.7987 - 605ms/epoch - 3ms/step
Epoch 10/20
225/225 - 1s - loss: 0.4381 - accuracy: 0.8001 - val_loss: 0.4119 - val_accuracy: 0.8000 - 517ms/epoch - 2ms/step
Epoch 11/20
225/225 - 1s - loss: 0.4335 - accuracy: 0.8025 - val_loss: 0.4067 - val_accuracy: 0.8037 - 692ms/epoch - 3ms/step
Epoch 12/20
225/225 - 1s - loss: 0.4345 - accuracy: 0.8024 - val_loss: 0.4048 - val_accuracy: 0.8025 - 595ms/epoch - 3ms/step
Epoch 13/20
225/225 - 1s - loss: 0.4302 - accuracy: 0.8049 - val_loss: 0.3989 - val_accuracy: 0.8075 - 592ms/epoch - 3ms/step
Epoch 14/20
225/225 - 1s - loss: 0.4249 - accuracy: 0.8021 - val_loss: 0.3981 - val_accuracy: 0.8062 - 561ms/epoch - 2ms/step
Epoch 15/20
225/225 - 1s - loss: 0.4283 - accuracy: 0.8032 - val_loss: 0.3948 - val_accuracy: 0.8062 - 530ms/epoch - 2ms/step
Epoch 16/20
225/225 - 1s - loss: 0.4244 - accuracy: 0.8046 - val_loss: 0.3921 - val_accuracy: 0.8062 - 767ms/epoch - 3ms/step
Epoch 17/20
225/225 - 1s - loss: 0.4240 - accuracy: 0.8053 - val_loss: 0.3913 - val_accuracy: 0.8062 - 721ms/epoch - 3ms/step
Epoch 18/20
225/225 - 1s - loss: 0.4215 - accuracy: 0.8035 - val_loss: 0.3887 - val_accuracy: 0.8075 - 676ms/epoch - 3ms/step
Epoch 19/20
225/225 - 1s - loss: 0.4193 - accuracy: 0.8028 - val_loss: 0.3861 - val_accuracy: 0.8075 - 761ms/epoch - 3ms/step
Epoch 20/20
225/225 - 1s - loss: 0.4163 - accuracy: 0.8036 - val_loss: 0.3839 - val_accuracy: 0.8075 - 611ms/epoch - 3ms/step
63/63 [==============================] - 0s 4ms/step
[[1579   16]
 [ 370   35]]
80.70% of data was classified correctly

In [9]:
Y.head()

           Exited
RowNumber
1               1
2               0
3               1
4               0
5               0